body {
	margin: auto;
	width: 800px;
	background-image: url(../images/rick-background.png);
	background-size: cover;
}

.col-md-4{
	height: 150px;
	margin: 0px 10px 20px 10px;
	width: 390px;
}
h1{
	font-weight: bold;
	font-size: 60px;
	font-family: arial;
}
.well {
	background-color: #4dd0e1;
}